.profile{
    background: #2A304E;
}

.password{
    background: #f9f9f9;
}

.change-password{
    height: auto;
    width: 75%;
    margin: 25.5% auto;
}

.pass_show{position: relative}

.change-psswrd-btn{
    background-color: #2A304E !important;
    color: #ffffff;
    border-radius: 2em;
}

.change-psswrd-btn:hover{
    color: #d6d5d5; 
}

.form-logo{
    width: 40%;
}

.input-area{
    border-radius: 2em;
    width: 100%;
    font-size: 1.1em;
}

.toggle-eye{
    font-weight: lighter;
    cursor: pointer;
}

@media (max-width: 991.98px){
    .profile{
        display: none;
    }
}
